@import '../../variables';

.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: $gameFieldColor;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 25% 50% 1fr;
}

.horizontalOpponentHand {
  grid-column: 2 / 3;
}

.leftVerticalOpponentHand {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.gameField {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.rightVerticalOpponentHand {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
}

.horizontalPlayerHand {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

@media (max-width: $sm) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
  }
  
  .horizontalOpponentHand {
    display: none;
  }
  
  .leftVerticalOpponentHand {
    display: none;
  }
  
  .gameField {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
  }
  
  .rightVerticalOpponentHand {
    display: none;
  }
  
  .horizontalPlayerHand {
    grid-column: 1 / 1;
    grid-row: 2 / 3;
  }
}

.horizontalHandContainer,
.verticalHandContainer {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto; 
}

.horizontalHandContainer {
  width: $handWidth;
}

.verticalHandContainer {
  width: $handHeight; 
}

.topRowHeight, .bottomRowHeight {
  height: 25%;
}

.middleRowHeight {
  height: 50%;
}

.maxWidth200 {
  max-width: 200px;
}

.maxWidth400 {
  max-width: 400px;
}