@import 'src/variables';

.fullScreenContainer {
  position: absolute;
  top: $headerHeight-xs;
  bottom: 0;
  width: 100%;
  overflow: hidden;

  @media (min-width: $lg) {
    top: $headerHeight-sm;
  }
}
